<h1>Henkilötiedot</h1>

<div class="row">
  <label class="col-xs-3 col-lg-3"><%= lang.signup.fname %>:</label>
  <input class="col-xs-9 col-lg-6 input-2" name="fname" type="text" ng-model="main.registration.firstname" required/>
</div>
<div class="row">
  <label class="col-xs-3 col-lg-3"><%= lang.signup.lname %>:</label>
  <input class="col-xs-9 col-lg-6 input-2" name="lname" type="text" ng-model="main.registration.lastname" required/>
</div>
<div class="row">
  <label class="col-xs-3 col-lg-3"><%= lang.signup.email %>:</label>
  <input class="col-xs-9 col-lg-6 input-2" name="email" type="email" ng-model="main.registration.email" required/>
</div>
<div class="row">
  <label class="col-xs-3 col-lg-3 input-2"><%= lang.signup.guild %>:</label>
  <select name="guild" ng-model="main.registration.guild" size="1" required>
    <option>TiK</option>
    <option>MK</option>
    <option>AS</option>
    <option>FK</option>
    <option>Inkubio</option>
    <option>TF</option>
    <option>SIK</option>
    <option>Athene</option>
    <option>PJK</option>
    <option>VK</option>
    <option>KK</option>
    <option>Kemma</option>
    <option>PT</option>
    <option>AK</option>
    <option>KIK</option>
    <option>IK</option>
  </select>
</div>
<div class="row">
  <label class="col-xs-3 col-lg-3 input-2"><%= lang.signup.year %>:</label>
  <input class="col-xs-9 col-lg-6 input-2" type="number" name="year" ng-model="main.registration.year" min="1990" max="2016" required/>
</div>

<input type="submit" name="submit"/>
