<h1>Wappuvastaukset</h1>
<% for (var key in lang.fields){%>
  <div class="row">
    <label class="col-xs-4 col-lg-4"><%= lang.fields[key]["label"] %></label>
    <% if(lang.fields[key]["type"] === "scale"){ %>
      <div class="col-xs-6 col-lg-4">
        <input name="<%= key %>" type="range" min="<%= lang.fields[key]['min']%>" max="<%= lang.fields[key]['max']%>" value="<%= Math.floor(lang.fields[key]['max'] / 2) %>" ng-model="main.registration.<%= key %>" oninput="this.form.<%= key %>text.value=this.value" required/>
      </div>
      <input class="col-xs-2 col-lg-1" name="<%= key %>text" type="text" value="<%= Math.floor(lang.fields[key]['max'] / 2)%>" oninput="this.form.<%= key %>.value=this.value" required/>
    <% } %>
    <% if(lang.fields[key]["type"] === "choice"){ %>
        <% for (var okey in lang.fields[key]["choices"]) {%>
          <input type="radio" name="<%= key %>" value="<%= okey %>" ng-model="main.registration.<%= key %>" required/><%= lang.fields[key]['choices'][okey] %>
        <% } %>
    <% } %>
  </div>
<% } %>

<input type="submit" name="ok"/>
