<h1>Wappuvastaukset</h1>
<% for (var key in lang.fields){%>
  <div class="row">
    <div class="col-xs-5 col-lg-4">
      <label><%= lang.fields[key]["label"] %></label>
    </div>
    <div class="col-xs-7 col-lg-8">
      <% if(lang.fields[key]["type"] === "scale"){ %>
        <div class="col-xs-8 col-lg-10">
          <input name="<%= key %>" type="range" min="<%= lang.fields[key]['min']%>" max="<%= lang.fields[key]['max']%>" value="<%= Math.floor(lang.fields[key]['max'] / 2) %>" ng-model="main.registration.<%= key %>" oninput="this.form.<%= key %>text.value=this.value" required/>
        </div>
        <input class="col-xs-3 col-lg-2" name="<%= key %>text" type="text" value="<%= Math.floor(lang.fields[key]['max'] / 2)%>" oninput="this.form.<%= key %>.value=this.value" required/>
      <% } %>
      <% if(lang.fields[key]["type"] === "choice"){ %>
          <% for (var okey in lang.fields[key]["choices"]) {%>
            <input type="radio" name="<%= key %>" value="<%= okey %>" ng-model="main.registration.<%= key %>" required/> <%= lang.fields[key]['choices'][okey] %><br/>
          <% } %>
      <% } %>
      <% if(lang.fields[key]["type"] === "text"){ %>
        <textarea class="col-xs-12" name="<%= key %>" ng-model="main.registration.<%= key %>" rows="1" cols="24" draggable="false"></textarea>
      <% } %>
    </div>
  </div>
  <hr>
<% } %>

<input type="submit" name="ok"/>
